.form {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.form input {
    width: 315px;
    height: 50px;
    background: #F3F5F7;
    border-radius: 30px;
    padding: 20px;
}

form input::placeholder {
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: -0.2px;
    color: #BDBDBD;
}

.form__name {
    text-align: left;
}
.form p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.form__button input{
    padding: 14px 24px;
    background: linear-gradient(270.95deg, #888BF4 0%, #5151C6 100%);
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.6px;
}

.form__button {
    position: fixed;
    bottom: 20px;
}
@media (max-height: 600px) {
    .form__button {
        padding-top: 30px;
        position: relative;
    }
}

