.Header {
    padding: 0.75rem 1rem;
    display: flex;
    background: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 768px;
}

.title {
    flex: 0 1 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #000000;
}
