.Footer {
    max-width: 500px;
    background: url("../../assets/images/Surface.svg") center no-repeat;
    background-size: cover;
    box-shadow: 0 -1px 30px rgba(138, 149, 158, 0.2);
    position: fixed;
    z-index: 10;
    width: 100%;
    bottom: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-radius: 20px 20px 0 0 ;
}

.btnAdd {
    transform: translate( 0, -35%);
    height: 60px;
    width: 60px;
}
