.Follow {
    padding: 20px 20px;
}

.follow__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px;
    background: #F6F7F9;
    border-radius: 6px;
}

.followers {
    display: flex;
    gap: 5px;
}
.count {
    color: #242424;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.6px;
}
.text {
    color: #8F90A7;
    font-size: 16px;
    line-height: 150%;
}


.following {
    display: flex;
    gap: 5px;
}